{% extends "base_generic.html" %}
{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="text-center"> About TNAI Recruitment</h1>
        </div>
        <div class="panel-body">
            <p class="lead">Emergence of the Trained Nurses Association of India (TNAI) as a government-accredited placement agency is yet another milestone in its onward journey towards improving the lot of nurses in the country.</p>
            <p>Concerned at the exploitative, unethical and deceptive practices of certain unscrupulous agencies operating in this area, TNAI had long been contemplating to provide a safe and fair mechanism to the nurses, who in increasing numbers, seek employment within the country or abroad.</p>
            <p>TNAI shall bring big relief to the nurses seeking foreign assignments, who shall be enabled to fulfill their dreams for a modest fee rather than shelling out enormous money to the agents of dubious integrity so far monopolising the employment market.</p>
            <p>The salient features of the TNAI Recruitment Agency are:</p>

            <ul>
                <li>To maintain high standards and transparency in selection of candidates in keeping with track record to TNAI.</li>
                <li>To ensure smooth data flow of each candidate before appearing for the interview or selection process of right candidate for the right post.</li>
                <li>To avoid third party involvement other than foreign employer and TNAI.</li>
                <li>To provide necessary training & orientation before departure.</li>
                <li>To create and maintain a data bank of nurses who are willing to go abroad to be created for uninterrupted supply of nurses overseas.</li>
                <li>To research and resolve issues pertaining to employment of nurses abroad.</li>
                <li>To disseminate the correct information to nurses through TNAI Bulletin, Nursing Journal of India and TNAI website.</li>
                <li>To guarantee no hidden charges to be incurred by the applicants other than these stipulated by the Ministry of External Affairs, Government of India.</li>
            </ul>
        </div>
    </div>

{% endblock %}
