{% extends "base_generic.html" %}
{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block jumbotron %}
    <div class="container">
        <div class="jumbotron">
            <h2>Ethical, Transparent Recruitment</h2>
            <button type="button" class="btn btn-lg"><a href="/candidate/">Candidates</a></button>
            <button type="button" class="btn btn-lg"><a href="/employer/">Employers</a></button>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}
