{% extends "base_generic.html" %}
{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block jumbotron %}
    <div class="container">
        <div class="jumbotron jumbotron-tnai">
            <h2>Trained Nurses Association of India's</h2>
            <h2>Recruitment Agency for Nurses</h2>
            <!--
            <a href="{% url 'candidate:find_jobs' %}"><h2>Find Jobs</h2></a>
            -->
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}
