{% extends "base_generic.html" %}
{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <h2> Welcome to TNAI Recruitment!</h2>

    <ul>
        <li><a href="">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="recruitment">Recruitment</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="media">Media</a></li>
    </ul>
{% endblock %}
