{% extends "base_generic.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-push-3 col-md-push-3 col-lg-push-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="text-center">Book time slot</h1>
                <h2 class="text-center">Exam: {{ exam.name }}</h2>
                <h2 class="text-center">{{exam.date}} </h2>
            </div>

            <div class="panel-body">
                <form action="/exam/candidate_book_time_slot/" method="post" class="form form-horizontal">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <tr>
                            <th class="text-center"> Time slot</th>
                            <th class="text-center"> Book </th>
                        </tr>
                        {% for radio in form.time_slot %}
                            <tr>
                                <td class="text-center">
                                    <label for="{{ radio.id_for_label }}">
                                        {{ radio.choice_label }}
                                    </label>
                                </td>
                                <td class="text-center">
                                    <div class="radio">
                                        {{ radio.tag }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <div class="error_msg">{{form.errors}}</div>
                    </table>
                    <input type="hidden" name="exam_id" value="{{exam_id}}"/>
                    {% bootstrap_button "Book time slot" button_type="submit" name="book" %}
                    {% bootstrap_button "Cancel Booking" button_type="submit" name="cancel_booking" %}
                    <!--
                    <input type="submit" name="book" value="Book time slot" /> 
                    <input type="submit" name="cancel_booking" value="Cancel Booking" /> 
                    -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}
