{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <h2> {{exam.exam_or_interview}} module </h2>
    <h3>Candidate: {{ candidate.name }} </h3>
    <h3>Book time slot for {{exam.exam_or_interview.lower}}: {{ exam.name }} on {{exam.date}} </h3>


<form action="/exam/candidate_book_time_slot/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th> Time slot</th>
            <th> Book </th>
        </tr>
        {% for radio in form.time_slot %}
            <tr>
                <td>
                <label for="{{ radio.id_for_label }}">
                    {{ radio.choice_label }}
                </label>
                </td>
                <td>
                    <span class="radio">{{ radio.tag }}</span>
                </td>
            </tr>
        {% endfor %}
        <div class="error_msg">{{form.errors}}</div>
    </table>
    <input type="hidden" name="exam_id" value="{{exam_id}}"/>
    <input type="submit" name="book" value="Book time slot" /> 
    <input type="submit" name="cancel_booking" value="Cancel Booking" /> 
</form>
<a href="/exam/exam_list?exam_or_interview={{exam.exam_or_interview}}">Back to {{exam.exam_or_interview.lower}} list.</a>
{% endblock %}
