{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <h2> Hall ticket </h2>
    <table>
        <tr>
            <th> Candidate name </th> <td> {{candidate.name}} </td>
        </tr>
        <tr>
            <th> Registration number</th> <td> {{displayed_registration_number}} </td>
        </tr>
        <tr>
            <th> Exam name </th>
            <td> {{exam.name}}</td>
        </tr>
        <tr>
            <th> Exam date </th>
            <td> {{exam.date}} </td>
        </tr>
        <tr>
            <th> Exam type </th>
            <td> {{exam.exam_type}} </td>
        </tr>
        <tr>
            <th> Time slot </th>
            <td> {{booking.time_slot.begin_time}} to {{booking.time_slot.end_time}}</td>
        </tr>
    </table>
{% endblock %}
