{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'exam/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h1 class="text-center">Error</h1>
        </div>
        <div class="panel-body">
            <h2> Exam or Interview Id: "{{exam_id}}" not found. </h2>
            <input type="hidden" name="exam_or_interview" value="{{exam_or_interview}}">
        </div>
    </div>
{% endblock %}
