{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'exam/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h1 class="text-center"> Exam module </h1>
        </div>
        <div class="panel-body">
            <h2 class="text-center">You are not allowed to access this page. {{error_msg}}</h2>
            <a href="/accounts/login/">Login page</a>
        </div>
    </div>
{% endblock %}
