.jumbotron {
    background-image: url('http://tnaionline.org/images/main_logo.png');
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.navbar-right {
    padding-right: 15px;
}

body {
    padding-top: 10px;
}
