{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="text-center">List of advertisements</h1>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th> Advertisement ID </th>
                    {% if not employer_restricted %}
                        <th> Advertiser username </th>
                    {% endif %}
                    <th> Job role </th>
                    <th> Gender </th>
                    <th> Experience </th>
                    <th> Educational Qualifications </th>
                    <th> Eligibility </th>
                    <th> Closing date </th>
                    <th> Full advertisement </th>
                    <th> Candidates </th>
                </tr>
                {% for record in queryset %}
                <tr>
                    <td> {{ record.obfuscated_id }} <a href="{% url 'employer:submit_advertisement'%}?advertisement_id={{record.obfuscated_id}}">[Click to update]</a></td>
                    {% if not employer_restricted %}
                        <td> {{ record.employer_advert }} </td>
                    {% endif %}
                    <td> {{ record.job_role }} </td>
                    <td> NYI </td>
                    <td> {{ record.experience }} </td>
                    <td> {{ record.educational_qualifications }} </td>
                    <td> {{ record.eligibility_tests }} </td>
                    <td> {{ record.closing_date }} </td>
                    <td> <a href="{% url 'employer:full_advertisement'%}?advertisement_id={{record.obfuscated_id}}">Click to view</a></td>
                    <td> <a href="#">Filter candidates for ad</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
