{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="text-center">User: {{ra}}</h1>
        </div>
        <div class="panel panel-body">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-push-3 col-md-push-3 col-lg-push-4">
                <ul class="list-unstyled">
                    <li><a href="candidate_list">List all candidates</a></li>
                    <li><a href="show_saved_candidate_lists">Show saved candidates lists</a></li>
                    <li><a href="employer_list">List all employers</a></li>
                    <li><a href="advertisement_list">List all advertisements</a></li>
                    <li><a href="/exam/submit_exam/">Submit exam</a></li>
                    <li><a href="/exam/exam_list/">List all exams</a></li>
                    <li><a href="/ra/edit_list_state_nursing_council/">List state nursing councils</a></li>
                    <li><a href="{% url 'ra:act_as' %}">Act as another user</a></li>
                    <li><a href="{% url 'ra:activate_candidate' %}">Activate candidate</a></li>
                    <li><a href="{% url 'ra:delete_user' %}">Delete user</a></li>
                    <li><a href="{% url 'ra:delete_advertisement' %}">Delete advertisement</a></li>
                    <li><a href="{% url 'ra:delete_exam' %}">Delete exam</a></li>
                    <li><a href="{% url 'employer:index' %}">Employer index</li>
                    <li><a href="{% url 'candidate:index' %}">Candidate index</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
