{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <h2> RA module </h2>
    <h3>Welcome {{ username.username }}! </h3>
    <ul>
        <li><a href="candidate_list">List all candidates</a></li>
        <li><a href="employer_list">List all employers</a></li>
        <li><a href="advertisement_list">List all advertisements</a></li>
        <li><a href="/exam/submit_exam/?exam_or_interview=Exam">Submit exam</a></li>
        <li><a href="/exam/exam_list/?exam_or_interview=Exam">List all exams</a></li>
        <li><a href="/exam/submit_exam/?exam_or_interview=Interview">Submit interview</a></li>
        <li><a href="/exam/exam_list/?exam_or_interview=Interview">List all interviews</a></li>
    </ul>
{% endblock %}
