{% extends "base_instructor.html" %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="text-center">Exam History</h1>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <!-- <th> Exam Attempt ID </th> -->
                    <th> Exam Name </th>
                    <th> Completed on </th>
                    <th> Score </th>
                    <th> Full Exam Result </th>
                </tr>
                {% for record in queryset %}
                <tr>
                    <!--
                    <td> {{ record.take_exam_id }} </td>
                    -->
                    <td> {{ record.exam.name }} </td>
                    <td> {{ record.completion_time }} </td>
                    <td> {{ record.score|floatformat:2 }} </td>
                    <td> <a href="{% url 'student:exam_result'%}?take_exam_id={{record.take_exam_id}}">Click for full results</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
