{% extends "base_instructor.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-push-3 col-md-push-3 col-lg-push-4">
<h1>Student Sign up</h1>
    {# Display a form #}
    <form method="post" class="form form-horizontal">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' exclude='name, email, phone'%}
      <hr />
      <h2> Your Profile (Optional) </h2>
      {% bootstrap_form form layout='horizontal' exclude='username, password1, password2'%}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
            Sign up
        </button>
      {% endbuttons %}
    </form>
</div>
{% endblock %}
