{% extends "base_instructor.html" %}
{% load bootstrap3 %}

{% block content %}
<form enctype="multipart/form-data" action="/student/take_exam/" method="post" class="form form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="text-center">Take Exam</h1>
        </div>
        <div class="panel-body">
            {% csrf_token %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Question</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <b>Q{{question_number}}:</b> {{question.text}}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 table-striped">
                    <table class="table">
                        {% bootstrap_form form layout='horizontal' %}
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            {% buttons %}
                {% bootstrap_button "Submit Answer and go to next question" button_type="submit" name='submit' %}
                {# {% bootstrap_button "Skip Question for now and go to next question" button_type="submit" name='skip_for_now' %} #}
                <button type="submit" class="btn" name="exit_exam" onclick="return confirm('Are you sure?')">Leave Answer Blank and Exit</button>
            {% endbuttons %}
            <input type="hidden" name="take_exam_id" value="{{take_exam_id}}"/>
        </div>
</form>
{% endblock %}

