{% extends "base_generic.html" %}
{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
{% endblock %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="text-center"> Booked Exam Time Slots</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            {% if queryset %}
                <tr>
                    <th>Exam name</th>
                    <th>Date</th>
                    <th>Booked time slot</th>
                    <th>Hall ticket</th>
                    <th>Room number</th>
                </tr>
                {% for record in queryset %}
                    <tr>
                        <td>{{record.time_slot.exam.name}}</td>
                        <td>{{record.time_slot.exam.date}}</td>
                        <td>{{record.time_slot.begin_time}} to {{record.time_slot.end_time}} <a href="/exam/candidate_book_time_slot?exam_id={{record.time_slot.exam.exam_id}}">[Change]</a></td>
                        <td> <a href="/exam/candidate_download_hall_ticket?exam_id={{record.time_slot.exam.exam_id}}">Download hall ticket</td>
                        <td> Not assigned yet </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h3>No booked Exams found</h3>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}

