{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
{% endblock %}

{% block content %}
    {% if not object_does_not_exist %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-center">{{candidate.name}}</h2>
            </div>
            <div class="panel-body">
                {% if candidate.photograph %}
                    <img src="{{MEDIA_URL}}{{ candidate.photograph.url }}" class="img_responsive"></img>
                {% endif %}
                <table class="table table-striped">
                    <tr>
                        <th>Date joined:</th>
                        <td>{{candidate.candidate_username.date_joined|date}}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{candidate.candidate_username}}</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>{{candidate.phone_number}}</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>{{candidate.city}}</td>
                    </tr>
                    {% if displayed_registration_number %}
                        <tr>
                            <th>Registration number:</th>
                            <td>{{displayed_registration_number}}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>No candidate details found!</h2>
            </div>
        </div>
    {% endif %}

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-push-3 col-md-push-3 col-lg-push-4">
        <ul class="list-unstyled">
            {% if not object_does_not_exist %}
                <li><a href="candidate_profile">View full profile</a></li>
            {% endif %}
            <li><a href="{% url 'candidate:update_profile' %}">Update profile</a></li>
            <li><a href="/exam/exam_list/">Book exam time slots</a></li>
            <li><a href="booked_exam_time_slots/">View booked exam time slots</a></li>
            <li><a href="{% url 'candidate:find_jobs' %}">Search for jobs</a></li>
        </ul>
    </div>
{% endblock %}

