{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
{% endblock %}

{% block content %}
    {% if not object_does_not_exist %}
        <h2> Welcome {{candidate.name}}! </h2>
        {% if candidate.photograph %}
            <img src="{{MEDIA_URL}}{{ candidate.photograph.url }}"></img>
        {% else %}
            No photo uploaded.
        {% endif %}
        <table>
            <tr>
                <th>Email:</th>
                <td>{{candidate.candidate_username}}</td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>{{candidate.phone_number}}</td>
            </tr>
            <tr>
                <th>Location:</th>
                <td>{{candidate.city}}</td>
            </tr>
        </table>
    {% else %}
        No candidate details found!
    {% endif %}
    <ul>
        {% if not object_does_not_exist %}
            <li><a href="candidate_profile">View full profile</a></li>
        {% endif %}
        <li><a href="submit_candidate_personal">Update profile</a></li>
        <li><a href="/exam/candidate_book_time_slot">Book exam time slots</a></li>
        <li><a href="booked_exam_time_slots">View booked exam time slots</a></li>
        <li>Search for employees</li>
        <li>Search for jobs</li>
        <li>Useful links</li>
    </ul>
{% endblock %}

