{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
{% endblock %}

{% block content %}
    {% if not object_does_not_exist %}
        <h2>Candidate: {{ candidate.candidate_username }}</h2>
        {% if photograph_exists %}
        <img src="{{ MEDIA_ROOT}}{{ candidate.photograph.url }}"></img>
        {% else %}
            No photo uploaded.
        {% endif %}
    {% else %}
        Candidate not found!
    {% endif %}
{% endblock %}

