{% extends "base_generic.html" %}

{% load static %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
{% endblock %}

{% block content %}
<h1>Candidate form</h1>
<form enctype="multipart/form-data" action="/candidate/submit_candidate_additional_qualifications/" method="post">
    {% csrf_token %}
        {{ additional_qualifications_formset.management_form }}
        <h2>Additional Qualification Details</h2>
        <table>
            <tr>
                {% if additional_qualifications_formset.errors %}
                    <th>Errors</th>
                {% endif %}
                {% for field in additional_qualifications_form_instance %}
                    {% if field.is_hidden %}
                        <th style="display:none">{{ field.label }}</th>
                    {% else %}
                        <th>{{ field.label }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for form in additional_qualifications_formset %}
            <tr>
                {% if form.errors %}
                    <td> 
                        <div class="error_msg">
                            &#x2718
                            {% if form.non_field_errors %}
                                {{form.non_field_errors}}
                            {% endif %}
                        </div> 
                    </td>
                {% elif additional_qualifications_formset.errors %}
                    <td> </td>
                {% endif %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        <td style="display:none"> <div class="error_msg">{{field.errors}}</div> {{field}} </td>
                    {% else %}
                        <td><div class="error_msg">{{field.errors}}</div> {{field}} </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    <input type="submit" name="save_personal" value="Save and go to Personal Details" />
    <input type="submit" name="save_educational" value="Save and go to Educational Details" />
    <input type="submit" name="save_professional" value="Save and go to Professional Details" />
    <input type="submit" name="save_additional" value="Save and stay at Additional Details" />
    <input type="submit" name="save_experience" value="Save and go to Experience Details" />
    <input type="submit" name="save_eligibility" value="Save and go to Eligibility Details" />
    <input type="submit" name="save_state_nursing_council" value="Save and go to SNC Details" />
    <input type="submit" name="save_passport" value="Save and go to Passport/Misc. Details" />
    <input type="submit" name="save_done" value="Done" />
</form>
{% endblock %}
