{% extends "base_generic.html" %}
{% load bootstrap3 %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
{% endblock %}

{% block content %}
<h1>Candidate form</h1>
<form enctype="multipart/form-data" action="/candidate/submit_candidate_eligibility_tests/" method="post" class="form form-inline">
    {% csrf_token %}
    {{ eligibility_tests_formset.management_form }}
    <div class="panel panel-primary">
        <div class="panel-heading">
           <h2 class="text-center">Eligibility Tests Details</h2>
        </div>
        <div class="panel-body">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Instructions</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li> Date should be in DD/MM/YY or DD/MM/YYYY format. <span class="ok_msg">Valid: 01/06/15 OR 01/06/2015.</span> <span class="error_msg">Invalid: 06/17</span></li>
                        <li> For dates, use "/" (slash), "-" (dash) or "." (period) as separator. <span class="ok_msg">Valid: 01/09/16 OR 02-01-17 OR 03.02.15</span> <span class="error_msg">Invalid: 01\06\17</span></li>
                        <li> "Completed on" should be at most "Valid up to".</li>
                        <li> Enter details for each qualification on a separate row. Leave extra rows blank. </li>
                    </ul>
                </div>
            </div>

            <div class="table-responsive">
                {% bootstrap_formset_errors eligibility_tests_formset %}
                <table class="table table-striped">
                    <tr>
                        {% if eligibility_tests_formset.errors %}
                            <th>Errors</th>
                        {% endif %}
                        {% for field in eligibility_tests_form_instance.visible_fields %}
                            <th>{% bootstrap_label field.label %}</th>
                            <!--
                            {% if field.is_hidden %}
                                <th style="display:none">{{ field.label }}</th>
                            {% else %}
                                <th>{{field.hidden}} {{ field.label }}</th>
                            {% endif %}
                            -->
                        {% endfor %}
                    </tr>
                    {% for form in eligibility_tests_formset %}
                        <tr>
                            {% if form.errors %}
                                <td> 
                                    {% bootstrap_form_errors form error_types='all' layout='inline' %}
                                    <!--
                                    <div class="error_msg">
                                        &#x2718
                                        {% if form.non_field_errors %}
                                            {{form.non_field_errors}}
                                        {% endif %}
                                    </div> 
                                    -->
                                </td>
                            {% elif eligibility_tests_formset.errors %}
                                <td> </td>
                            {% endif %}
                            {% for field in form %}
                                <td>
                                    {% bootstrap_field field layout="inline" %}
                                </td>
                                <!--
                                {% if field.is_hidden %}
                                    <td style="display:none"> <div class="error_msg">{{field.errors}}</div>{{field}} </td>
                                {% else %}
                                    <td> {{field}} <div class="error_msg">{{field.errors}}</div> </td>
                                {% endif %}
                                -->
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel-footer text-center">
            {% bootstrap_button "Personal Details" button_type="submit" name="save_personal" value="Save and go to Personal Details" %}
            {% bootstrap_button "Educational Details" button_type="submit" name="save_educational" value="Save and go to Educational Details" %}
            {% bootstrap_button "Professional Details" button_type="submit" name="save_professional" value="Save and go to Professional Details" %}
            {% bootstrap_button "Additional Details" button_type="submit" name="save_additional" value="Save and go to Additional Details" %}
            {% bootstrap_button "Experience Details" button_type="submit" name="save_experience" value="Save and go to Experience Details" %}
            {% bootstrap_button "Eligibility Details" button_type="submit" name="save_eligibility" value="Save and go to Eligibility Details" %}
            {% bootstrap_button "State Nursing Council Details" button_type="submit" name="save_state_nursing_council" value="Save and go to SNC Details" %}
            {% bootstrap_button "Passport/Misc. Details" button_type="submit" name="save_passport" value="Save and stay at Passport/Misc. Details" %}
            {% bootstrap_button "Done" button_type="submit" name="save_done" value="Done" %}
        </div>
    </div>
</form>
{% endblock %}
