{% extends "base_generic.html" %}

{% load static %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
{% endblock %}

{% block content %}
<h1>Candidate form</h1>
<form enctype="multipart/form-data" action="/candidate/submit_candidate_educational_qualifications/" method="post">
    {% csrf_token %}
        {{ educational_qualifications_formset.management_form }}
        <h2>General Educational Details</h2>
        <table>
            <tr>
                {% for field in educational_qualifications_form_instance %}
                    {% if field.is_hidden %}
                        <th style="display:none">{{field.errors}} {{ field.label }}</th>
                    {% else %}
                        <th>{{field.errors}} {{ field.label }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for form in educational_qualifications_formset %}
                <tr>
                    {% for field in form %}
                        {% if field.is_hidden %}
                            <td style="display:none"> <font color="red">{{field.errors}}</font> {{field}} </td>
                        {% else %}
                            <td> <font color="red">{{field.errors}}</font> {{field}} </td>
                        {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <td><font color="red">{{form.non_field_errors}}</font></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    <input type="submit" name="save_personal" value="Save and go to Personal Details" />
    <input type="submit" name="save_educational" value="Save and stay at Educational Details" />
    <input type="submit" name="save_professional" value="Save and go to Professional Details" />
    <input type="submit" name="save_additional" value="Save and go to Additional Details" />
    <input type="submit" name="save_experience" value="Save and go to Experience Details" />
    <input type="submit" name="save_eligibility" value="Save and go to Eligibility Details" />
    <input type="submit" name="save_state_nursing_council" value="Save and go to SNC Details" />
    <input type="submit" name="save_passport" value="Save and go to Passport/Misc. Details" />
    <input type="submit" name="save_done" value="Done" />
</form>
{% endblock %}
