{% extends "base_generic.html" %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
{% endblock %}

{% block content %}
<h1>Candidate form</h1>
<form enctype="multipart/form-data" action="/candidate/submit_candidate_eligibility_tests/" method="post">
    {% csrf_token %}
        {{ eligibility_tests_formset.management_form }}
       <h2>Eligibility Tests Details</h2>
        <h3>Instructions</h3>
        <ul>
            <li> Date should be in DD/MM/YY or DD/MM/YYYY format. <span class="ok_msg">Valid: 01/06/15 OR 01/06/2015.</span> <span class="error_msg">Invalid: 06/17</span></li>
            <li> For dates, use "/" (slash), "-" (dash) or "." (period) as separator. <span class="ok_msg">Valid: 01/09/16 OR 02-01-17 OR 03.02.15</span> <span class="error_msg">Invalid: 01\06\17</span></li>
            <li> "Completed on" should be at most "Valid up to".</li>
            <li> Enter details for each qualification on a separate row. Leave extra rows blank. </li>
        </ul>
        <table>
            <tr>
                {% if eligibility_tests_formset.errors %}
                    <th>Errors</th>
                {% endif %}
                {% for field in eligibility_tests_form_instance %}
                {% if field.is_hidden %}
                    <th style="display:none">{{ field.label }}</th>
                {% else %}
                    <th>{{field.hidden}} {{ field.label }}</th>
                {% endif %}
                {% endfor %}
            </tr>
            {% for form in eligibility_tests_formset %}
            <tr>
                {% if form.errors %}
                    <td> 
                        <div class="error_msg">
                            &#x2718
                            {% if form.non_field_errors %}
                                {{form.non_field_errors}}
                            {% endif %}
                        </div> 
                    </td>
                {% elif eligibility_tests_formset.errors %}
                    <td> </td>
                {% endif %}
                {% for field in form %}
                    {% if field.is_hidden %}
                        <td style="display:none"> <div class="error_msg">{{field.errors}}</div>{{field}} </td>
                    {% else %}
                        <td> {{field}} <div class="error_msg">{{field.errors}}</div> </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    <input type="submit" name="save_personal" value="Save and go to Personal Details" />
    <input type="submit" name="save_educational" value="Save and go to Educational Details" />
    <input type="submit" name="save_professional" value="Save and go to Professional Details" />
    <input type="submit" name="save_additional" value="Save and go to Additional Details" />
    <input type="submit" name="save_experience" value="Save and go to Experience Details" />
    <input type="submit" name="save_eligibility" value="Save and stay at Eligibility Details" />
    <input type="submit" name="save_state_nursing_council" value="Save and go to SNC Details" />
    <input type="submit" name="save_passport" value="Save and go to Passport/Misc. Details" />
    <input type="submit" name="save_done" value="Done" />
</form>
{% endblock %}
