{% extends "base_generic.html" %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
{% endblock %}

{% block content %}
<h1>Candidate form</h1>
<form enctype="multipart/form-data" action="/candidate/submit_candidate_snc/" method="post">
    {% csrf_token %}
        {{ snc_formset.management_form }}
       <h2>SNC Details</h2>
        <table>
            <tr>
                {% if snc_formset.errors %}
                    <th>Errors</th>
                {% endif %}

                <th>S. No.</th>
                {% for field in snc_form_instance %}
                {% if field.is_hidden %}
                    <th style="display:none">{{ field.label }}</th>
                {% else %}
                    <th>{{ field.label }}</th>
                {% endif %}
                {% endfor %}
            </tr>
            {% with len=max_snc_per_course %}
            {% for form in snc_formset %}
                {% if forloop.counter|add:"-1"|divisibleby:len %}
                    <tr>
                        <th rowspan="{{len|add:"1"}}"> {% widthratio forloop.counter|add:len len 1 %} </th>
                {% endif %}
                <tr>
                    {% if form.errors %}
                        <td> 
                            <div class="error_msg">
                                &#x2718
                                {% if form.non_field_errors %}
                                    {{form.non_field_errors}}
                                {% endif %}
                            </div> 
                        </td>
                    {% elif snc_formset.errors %}
                        <td> </td>
                    {% endif %}

                    {% for field in form %}
                        {% if field.is_hidden %}
                            <td style="display:none"> <div class="error_msg">{{field.errors}}</div> {{field}} </td>
                        {% else %}
                            <td> <div class="error_msg">{{field.errors}}</div> {{field}} </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% if forloop.counter|add:"-1"|divisibleby:len %}
                    </tr>
                {% endif %}
            {% endfor %}
            {% endwith %}
        </table>
    <input type="submit" name="save_personal" value="Save and go to Personal Details" />
    <input type="submit" name="save_educational" value="Save and go to Educational Details" />
    <input type="submit" name="save_professional" value="Save and go to Professional Details" />
    <input type="submit" name="save_additional" value="Save and go to Additional Details" />
    <input type="submit" name="save_experience" value="Save and go to Experience Details" />
    <input type="submit" name="save_eligibility" value="Save and go to Eligibility Details" />
    <input type="submit" name="save_state_nursing_council" value="Save and stay at SNC Details" />
    <input type="submit" name="save_passport" value="Save and go to Passport/Misc. Details" />
    <input type="submit" name="save_done" value="Done" />
</form>
{% endblock %}
