{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'candidate/style.css' %}" />
<h1>Candidate form</h1>
<form enctype="multipart/form-data" action="/candidate/submit_candidate_qualifications/" method="post">
    {% csrf_token %}
        {{ educational_qualifications_formset.management_form }}
        <h2>General Educational Details</h2>
        <table>
            <tr>
                {% for field in educational_qualifications_form_instance %}
                    <th>{{field.errors}} {{ field.label }}</th>
                {% endfor %}
            </tr>
            {% for form in educational_qualifications_formset %}
            <tr>
                {% for field in form %}
                    <td> {{field.errors}} {{field}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {{ professional_qualifications_formset.management_form }}
        <h2>Professional Qualification Details</h2>
        <table>
            <tr>
                {% for field in professional_qualifications_form_instance %}
                    <th>{{field.errors}} {{ field.label }}</th>
                {% endfor %}
            </tr>
            {% for form in professional_qualifications_formset %}
            <tr>
                {% for field in form %}
                    <td> {{field.errors}} {{field}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {{ additional_qualifications_formset.management_form }}
        <h2>Additional Qualification Details</h2>
        <table>
            <tr>
                {% for field in additional_qualifications_form_instance %}
                    <th>{{field.errors}} {{ field.label }}</th>
                {% endfor %}
            </tr>
            {% for form in additional_qualifications_formset %}
            <tr>
                {% for field in form %}
                    <td> {{field.errors}} {{field}} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    <input type="submit" name="personal" value="Save and go to Personal Details" />
    <input type="submit" name="educational" value="Save and stay at Educational Details" />
    <input type="submit" name="eligibility" value="Save and go to Eligibility Details" />
    <input type="submit" name="done" value="Done" />
</form>
{% endblock %}
