{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" />
{% endblock %}

{% block content %}
    {% if not object_does_not_exist %}
        <h2> Welcome {{employer.name}}! </h2>
        <table>
            <tr>
                <th>Email:</th>
                <td>{{employer.employer_username}}</td>
            </tr>
            <tr>
                <th>Location:</th>
                <td>{{employer.country}}</td>
            </tr>
            <tr>
                <th>Authorized signatory:</th>
                <td>{{employer.authorized_signatory}}</td>
            </tr>
        </table>
    {% else %}
        No employer details found!
    {% endif %}
    <ul>
        {% if not object_does_not_exist %}
            <li><a href="employer_profile">View full profile</a></li>
        {% endif %}
        <li><a href="submit_employer">Update profile</a></li>
        <li>List advertisements created by this employer</li>
        <li>Search for employees</li>
        <li>Search for jobs</li>
        <li>Useful links</li>
    </ul>
{% endblock %}
