{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" />
{% endblock %}

{% block content %}
    {% if not object_does_not_exist %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2> {{employer.name}} </h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Email:</th>
                        <td>{{employer.employer_username}}</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>{{employer.country}}</td>
                    </tr>
                    <tr>
                        <th>Authorized signatory:</th>
                        <td>{{employer.authorized_signatory}}</td>
                    </tr>
                    {% if displayed_registration_number %}
                        <tr>
                            <th>TNAI Registration number:</th>
                            <td>{{displayed_registration_number}}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>No employer details found!</h2>
            </div>
        </div>
    {% endif %}

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-push-3 col-md-push-3 col-lg-push-4">
        <ul class="list-unstyled">
            {% if not object_does_not_exist %}
                <li><a href="{% url 'employer:entire_profile' %}">View full profile</a></li>
            {% endif %}
            <li><a href="{% url 'employer:submit_employer' %}">Update profile</a></li>
            <li><a href="{% url 'employer:submit_advertisement' %}">Submit advertisement</a></li>
            <li><a href="{% url 'employer:list_advertisements' %}">List advertisements by you</a></li>
            <li><a href="{% url 'ra:candidate_list' %}">Search for employees</a></li>
            <li>Search for jobs</li>
        </ul>
    </div>
{% endblock %}
