{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'exam/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h1 class="text-center">Invalid data</h1>
        </div>
        <div class="panel-body">
            <h2>Advertisement id: {{advertisement_id}} not found.</h2>
        </div>
    </div>
{% endblock %}
