{% extends "base_instructor.html" %}
{% load bootstrap3 %}

{% block content %}
<form enctype="multipart/form-data" action="/instructor/choose_topic_for_exam_questions/" method="post" class="form form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="text-center">Choose Topic for Exam Questions</h1>
        </div>
        <div class="panel-body">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6 table-striped">
                    <table class="table">
                        {% bootstrap_form form layout='horizontal' %}
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            {% buttons %}
                {% bootstrap_button "Submit" button_type="submit" value="submit" %}
            {% endbuttons %}
        </div>
</form>
{% endblock %}

