{% extends "base_instructor.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    {% if is_instructor %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center"><a href="#filter">Filter questions</a></h2>
            </div>
            <div class="panel-body">
                <form action="/instructor/display_all_questions/" method="post" class="form form-horizontal">
                    {% csrf_token %}
                        <table class="table table-striped">
                            {% bootstrap_form form layout='horizontal' %}
                        </table>
                        {% buttons %}
                            {% bootstrap_button "Filter" button_type="submit" name="filter" extra_classes="center-block" %}
                        {% endbuttons %}
                        <input type="hidden" name="exam_id" value="{{exam_id}}"/>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h2 class="text-center"> See all questions with answers below (सभी प्रश्न उत्तर सहित नीचे देखें) </h2>
            {% if not user.is_authenticated %}
                <h2 class="text-center"><a href="{% url 'student:signup' %}"> Or Start an online test (अथवा स्वयं अोनलाइन परीक्षा आरम्भ करें)</a></h2>
            {% else %}
                <h2 class="text-center"><a href="{% url 'student:choose_exam' %}"> Or Start an online test (अथवा स्वयं अोनलाइन परीक्षा आरम्भ करें)</a></h2>
            {% endif %}
            {% if topic_selected %}
                <h2 class="text-center">Topic: {{topic_selected}} </h1>
            {% endif %}
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                {% for value in values %}
                    <tr>
                        <td colspan="100%"><b>Q{{value.0}}.</b> {{value.1.0.text}}</td>
                    </tr>
                    <tr>
                        {% for answer_format, answer in value.1.1 %}
                            {% if answer.correct and display_answers %}
                                <td class="success"> <b>{{answer_format}}</b> {{ answer.text }} </td>
                            {% else %}
                                <td> <b>{{answer_format}}</b> {{ answer.text }} </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <!--
            </div>
            -->
        </div>
    </div>
{% endblock %}
