{% extends "base_instructor.html" %}
{% load static %}

{% block title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'instructor/style.css' %}" />
{% endblock %}

{% block content %}
    {% if not object_does_not_exist %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2> {{instructor.name}} </h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Name:</th>
                        <td>{{instructor.name}}</td>
                    </tr>
                    <tr>
                        <th>Instructor ID:</th>
                        <td>{{instructor.instructor_id}}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>No instructor details found!</h2>
            </div>
        </div>
    {% endif %}

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-push-3 col-md-push-3 col-lg-push-4">
        <ul class="list-unstyled">
            {% if not object_does_not_exist %}
                <li><a href="{% url 'instructor:entire_profile' %}">View full profile</a></li>
            {% endif %}
            <li><a href="{% url 'instructor:submit_instructor' %}">Update profile</a></li>
            <li><a href="{% url 'instructor:submit_question_bank' %}">Submit question bank</a></li>
            <li><a href="{% url 'instructor:list_question_banks' %}">Display all question banks</a></li>
            <li><a href="{% url 'instructor:submit_topic' %}">Submit topic</a></li>
            <li><a href="{% url 'instructor:submit_question' %}">Submit question</a></li>
            <li><a href="{% url 'instructor:list_questions' %}">List questions</a></li>
            <li><a href="{% url 'instructor:display_all_questions' %}">Display all questions</a></li>
            <li><a href="{% url 'instructor:submit_exam' %}">Submit exam</a></li>
            <li><a href="{% url 'instructor:list_exams' %}">List exams</a></li>
        </ul>
    </div>
{% endblock %}
