{% extends "base_instructor.html" %}
{% load static %}

{% block title %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'employer/style.css' %}" /> -->
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="text-center">List of questions</h1>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th> Question ID </th>
                    <th> Text </th>
                    <th> Full question </th>
                </tr>
                {% for record in queryset %}
                <tr>
                    <td> {{ record.question_id }} <a href="{% url 'instructor:submit_question'%}?question_id={{record.question_id}}">[Click to update]</a></td>
                    <td> {{ record.truncated_text }} </td>
                    <td> <a href="{% url 'instructor:submit_answer'%}?question_id={{record.question_id}}">Full question</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
